<h2>Photos for <%= @site.url %></h2>

<%= render :partial => 'photo_form' %>

<table>
	<tr>
		<th>Image</th>
		<th>Description</th>
		<th>Edit</th>
		<th>Delete</th>
		<th>Move</th>
	</tr>
	<% @photos.each do |photo| %>
		<tr>
			<td><%= image_tag(photo.avatar.url(:thumb)) %></td>
			<td><%= photo.description %></td>
			<td><%= link_to 'Edit', edit_admin_site_photo_path(@site, photo) %></td>
		</tr>
	<% end -%>
</table>