<div><%= link_to @site.url, url_with_http(@site.url), :popup => true %></div>
<div><%= @site.title %></div>

<% single_line_container do %>
	<div class="site_gallery spacegallery">
		<% @photos.each do |photo| %>
			<%= image_tag photo.avatar(:big) %>
		<% end -%>
	</div>
	<%= content_tag :div, textilize(@site.description) %>
<% end -%>


<%= link_to 'Back', sites_path %>