<% inside_layout 'application' do -%>
	<%= locale_switcher %>
	
	<%= link_to "Messages", admin_messages_path %>
	<%= link_to t(:sites), admin_sites_path %>
	<%= link_to t(:logout), destroy_user_session_path if current_user %>

	<div>
		<p class="notice"><%= flash[:notice] %></p>
		<p class="alert"><%= flash[:alert] %></p>
	</div>

   <%= yield %>
<% end -%>
