<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <meta name='yandex-verification' content='523c53821fc877c1' />
	  <LINK REL="SHORTCUT ICON" HREF="rostovsky1.ico">
	  <title>Rostovsky</title>
	  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'spacegallery', "jquery-ui-1.8.6.custom", 'application' %>
	</head>
	<body class="<%= yield :body_class %>">

		<%= yield %>
	
	  <%= render "layouts/include_all_jquery" %>
	  <%= javascript_include_tag "application.js"%>
	
	  <!-- Yandex.Metrika counter -->
    <div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter2666602 = new Ya.Metrika(2666602);
                 yaCounter2666602.clickmap(true);
                 yaCounter2666602.trackLinks(true);

            } catch(e) {}
        });
    })(window, 'yandex_metrika_callbacks');
    </script></div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/2666602" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

	</body>
</html>
