<% inside_layout 'application' do -%>
  <div class='public_content'>
    
    <div class='header'>
      <div class='logo_wrapper'>
      	<%= link_to 'ROSTOVSKY', root_path, :class => 'logo' %>
      	<div class='slogan'>Создай свой мир...</div>
      </div>
      <div class="top_menu">
        <% top_menu_data.each do |item| %>
          <div class="menu_item <%= "current" if item[:name] == @page_name %>">
            <%= link_to item[:title], item[:path] %>
          </div>
        <% end -%>
      </div>
      <div class='contacts'>
        <%= render '/layouts/contacts' %>
      </div>
    </div>
	  <div class='clear'></div>
  	<%= yield %>
  	<%= render :partial => '/layouts/copyright' %>
  </div>
<% end -%>
