<%= link_to t(:new), new_admin_site_path %>

<table>
	<tr>
		<th>URL</th>
		<th>Active</th>
		<th>Title</th>
		<th>Photos</th>
		<th>Edit</th>
		<th>Delete</th>
		<th>Move</th>
	</tr>
	<% @sites.each do |site| %>
		<tr>
			<td><%= site.url %></td>
			<td><%= site.active %></td>
			<td><%= site.title %></td>
			<td><%= link_to 'Photos', admin_site_photos_path(site) %></td>
			<td><%= link_to 'Edit', edit_admin_site_path(site) %></td>
			<td><%= link_to 'Destroy', admin_site_path(site), :method => :delete, :confirm => 'Are you sure?' %></td>
			<td>
				<%= link_to 'Up', admin_site_change_position_path(site, 'up'), :method => :put %>
				<%= link_to 'Down', admin_site_change_position_path(site, 'down'), :method => :put %>
			</td>
		</tr>
	<% end -%>
</table>